<div class="wrapper match-main-page">

  <div class="top_list_football">
    <div class="head_select_wrap">

      <div class="head_select_area">

        <div class="date-filter" toggleDropDown>
          <div class="dropdownSelectedOption date_league_button active" [ngClass]="{'active-dropDown':isDateSelected}">
            <div class="dropdownSelectedOptionTextContainer">
              <div class="dropdownSelectedOptionText">
                <span class="date_value">
                  {{selectedDateText}}
                </span>
              </div>
            </div>
            <div class="iconHolder icon-dropdownarrows"></div>
          </div>

          <div class="dropdownOptionsContainer date">

            <div class="scrollableArea vertical">

              <div class="scrollableContent">

                <div class="dropdownOptions">

                  <div collectionitem="or by Region:" class="dropdownItem by_origin">
                    <div class="itemLabel">{{languageKeys.SEARCH_BY_DATE}}:</div>
                  </div>

                  <div collectionitem="Today" class="dropdownItem" [attr.data-isselected]="selectedDateText == languageKeys.TODAY" (click)="onDateSelect('Today')">
                    <div class="itemLabel itemSelectDate">
                      {{languageKeys.TODAY}}
                      <span *ngIf="selectedDateText==languageKeys.TODAY" class="green_dot"></span>
                    </div>
                  </div>

                  <div collectionitem="Yesterday" class="dropdownItem" [attr.data-isselected]="selectedDateText == languageKeys.YESTERDAY"
                    (click)="onDateSelect('Yesterday')">
                    <div class="itemLabel itemSelectDate">
                      {{languageKeys.YESTERDAY}}
                      <span *ngIf="selectedDateText==languageKeys.YESTERDAY" class="green_dot"></span>
                    </div>
                  </div>

                  <div collectionitem="Date Search" class="dropdownItem" [attr.data-isselected]="selectedDateText != languageKeys.TODAY && selectedDateText != languageKeys.YESTERDAY"
                    (click)="picker.open()">
                    <div class="itemLabel itemSelectDate">
                      <span class="txt-date-search" *ngIf="!Calenderdate">{{languageKeys.DATE_SEARCH}}</span>
                      <mat-form-field class="example-full-width">
                        <mat-datepicker touchUi="true" #picker></mat-datepicker>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="Calenderdate" (dateChange)="onDateSelect($event.value)" readonly>
                      </mat-form-field>
                    </div>
                    <span *ngIf="selectedDateText != languageKeys.TODAY && selectedDateText != languageKeys.YESTERDAY" class="green_dot"></span>
                  </div>

                </div>

                <div class="scrollSpacer"></div>

              </div>

            </div>

          </div>
        </div>
        <!--<filterDate-component [filterDateOpenClose]="filterDateOpenClose" (onSelectedDate)="homeSelecteddate($event)"></filterDate-component>-->

        <div class="org-filter" toggleDropDown>
          <div class="dropdownSelectedOption league_btn" [ngClass]="{'active-dropDown': isOrgSelected}">
            <div class="dropdownSelectedOptionTextContainer">
              <div class="dropdownSelectedOptionText ">
                {{selectedOrgName}}
              </div>
            </div>
            <div class="iconHolder icon-dropdownarrows"></div>
          </div>
          <div class="dropdownOptionsContainer header_top_right">
            <div class="scrollableArea vertical">
              <div class="scrollableContent">
                <div class="dropdownOptions">
                  <div collectionitem="or by Region:" class="dropdownItem by_origin">
                    <div class="itemLabel">
                      {{languageKeys.TYPE}}</div>
                  </div>
                  <div *ngFor="let org of organizationsList" collectionitem="match-winner-and-both-teams-to-score-combo" class="dropdownItem"
                    [attr.data-isselected]="selectedOrgName===org.OrgName">
                    <div class="itemLabel itemSelectType" (click)="onOrgSelected(org)">
                      <span class="orgName"> {{org.OrgName}} </span>
                      <span *ngIf="selectedOrgName===org.OrgName" class="green_dot"></span>
                      <span class="typeSpan"> </span>

                    </div>
                  </div>
                </div>
                <div class="scrollSpacer"></div>
              </div>
            </div>
          </div>
          <!--<app-filter-org [filterOrgOpenClose]="filterOrgOpenClose" [InselectedOrgId]="selectedOrgId" (outSelectedOrg)="selectOrg($event)"
            (onOrgDropDownClicked)="OrgDropDownClicked($event)"></app-filter-org>-->
        </div>

      </div>

      <div class="filter-contestGroup" *ngIf="isOrgSelected" toggleDropDown>
        <div class="head_select_bot_area">
          <div class="dropdownSelectedOption league_btn2" [ngClass]="{'active-dropDown': isContestSelected}">
            <div class="dropdownSelectedOptionTextContainer">
              <div class="dropdownSelectedOptionText">
                {{selectedContestText}}
              </div>
            </div>
            <div class="iconHolder icon-dropdownarrows"></div>
          </div>
          <div class="dropdownOptionsContainer header_top_bot ">
            <div class="scrollableArea vertical">
              <div class="scrollableContent">
                <div class="dropdownOptions">
                  <div collectionitem="or by Region:" class="dropdownItem by_origin">
                    <div class="itemLabel">
                      {{languageKeys.TOURNAMENTS}}</div>
                  </div>
                  <div *ngFor="let contest of tennisLeagueList" [attr.id]="'C'+contest.ContestGroupId" class="dropdownItem" [attr.data-isselected]="selectedContestId===contest.ContestGroupId"
                    (click)="onSelectContestGroup(contest.ContestGroupId,contest.LeagueName +' - '+ contest.ContestType )">
                    <!--<div class="itemLabel">{{contest.OrgName}} - {{contest.CountryName}} - {{contest.ContestGroupName}} - {{contest.ContestType}}-->
                    <div class="itemLabel">{{contest.LeagueName}} - {{contest.ContestType}}
                      <span *ngIf="selectedContestId===contest.ContestGroupId" class="green_dot"></span>
                    </div>
                  </div>
                </div>
                <div class="scrollSpacer"></div>
              </div>
            </div>
          </div>
        </div>

        <!--<app-filter-leagues [filterLeagueOpenClose]="filterLeagueOpenClose" (outSelectedContestId)="selectContestId($event)" [inSelectedContestId]="selectedContestId"
          [selectedOrgId]="selectedOrgId" (onLeagueDropDownClicked)="LeagueDropDownClicked($event)"></app-filter-leagues>-->
      </div>
    </div>
  </div>
  <div class="content_area_wrap">
    <app-content-list [isDateSelected]="isDateSelected" [inputSelectedTab]="selectedTab" (onTabSelect)="onTabSelect($event)"></app-content-list>
    <div *ngIf="isDateSelected">
      <tennis-result-list [inputSelectedDate]="selectedDate" (outSelectedContest)="onContestSelectedFromResults($event)"></tennis-result-list>
    </div>
    <div *ngIf="isOrgSelected">
      <div *ngIf="selectedTab=='Results'">
        <app-league-result-list [inputSelectedContestId]="selectedContestId"></app-league-result-list>
      </div>
      <div *ngIf="selectedTab=='Draw'">
        <app-tennis-draw [selectedContestId]="selectedContestId"></app-tennis-draw>
      </div>
      <div *ngIf="selectedTab=='Stats'">
        <app-tennis-stat [SelectedContestId]="selectedContestId"></app-tennis-stat>
      </div>
      <div *ngIf="selectedTab=='headtohead'">
        <app-tennis-head-to-head [SelectedContestId]="selectedContestId"></app-tennis-head-to-head>
      </div>

    </div>
  </div>
</div>