<app-loader [isLoading]="isLoading"></app-loader>
<div class="team_table_wrap">
  <div class="team_table_con table_league_result">
    <table>
      <tr class="heading_row">
        <th class="center_align">&nbsp;</th>
        <th>
          <strong>{{languageKeys.TEAMS}}</strong>
        </th>
        <th class="center_align">
          <strong>GP</strong>
        </th>
        <th class="center_align"><strong> W </strong></th>
        <th class="center_align"><strong> L </strong></th>
        <th class="center_align"><strong> OTL</strong> </th>
        <th class="center_align"><strong> Diff </strong> </th>
        <th class="center_align">
          <strong>Pts</strong>
        </th>
      </tr>
      <ng-container>
        <tr *ngFor="let competitor of standings" class="simple_row">
          <td class="center_align"> <span class="count_no">{{competitor.Ranking}}</span></td>
          <td>
            {{competitor.TeamName}}
          </td>
          <td class="center_align">
            {{competitor.Played}}
          </td>
          <td class="center_align">
            {{competitor.Won}}
          </td>
          <td class="center_align">
            {{competitor.Lost}}
          </td>
          <td class="center_align">
            {{competitor.LostOT}}
          </td>
          <td class="center_align">
            {{competitor.Difference}}
          </td>
          <td class="center_align">
            {{competitor.Points}}
          </td>
        </tr>
      </ng-container>

      <tr *ngIf="(standings==null || standings.length == 0)&& !isLoading">
        <td colspan="8" class="danger-label">
          {{languageKeys.STANDINGS_ARE_NOT_AVAILABLE}}
        </td>
    </table>
  </div>
</div>